---
title: Groves Lab
layout: default.hbs
---

<p style="text-align:center;">
    <a href="http://www.sciencemag.org/cgi/content/full/327/5971/1380">
        <img src="img/main.jpg" alt="Group picture" width="700" height="466"></a>
</p>
<a href="http://biophysics.berkeley.edu/">Biophysics Graduate Group</a>
<p><b style="font-size:4">Major Support</b></p>
<table id="support" style="text-align:center;">
    <tr>
        <td>
            <a href="http://www.energy.gov/">
                <img src="img/DOE%20logo.png" alt="DOE logo" width="241" height="60"></a>
        </td>
        <td>
            <a href="http://www.hhmi.org/"><img src="img/HHMI%20logo.png" alt="HHMI logo" width="247" height="60"></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.bnl.gov/ldrd/"><img src="img/LDRD%20logo.JPG" alt="LDRD logo" width="335" height="50"></a>
        </td>
        <td>
            <a href="http://www.cancer.gov/"><img src="img/NCI%20logo.gif" alt="NCI logo" width="118" height="81"></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.nsf.gov/"><img src="img/NSF%20logo.jpg" alt="NSF logo" width="100" height="100"></a>
        </td>
        <td>
            <a href="http://www.usamraa.army.mil/"><img src="img/USAMRAA%20logo.gif" alt="USAMRAA logo" width="107" height="110"></a>
        </td>
    </tr>
</table>