---
title: Past group meetings - Groves Lab
layout: default.hbs
---

<table cellpadding="0" cellspacing="0" width="600" border="1" bordercolordark="black" bordercolorlight="black"><tr>
    <td>
        <a href="seminars.html">
            <div class="button_seminars" id="button_groupmeeting"></div>
        </a>
    </td>                     <td>
    <a href="seminars_prof.html">
        <div class="button_seminars" id="button_seminarprof"></div>
    </a>
</td>
    <td>
        <a href="seminars_group.html">
            <div class="button_seminars" id="button_seminargroup"></div>
        </a>
    </td>
</tr></table>
<b>Past Group Meetings</b>
<p>FALL 2013</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr class='past'> <td class='date'>AUG 20 (Tue, Room 521)</td>
        <td class='jc'>Dr. Hsiung-Lin Tu</td>
        <td class='gm'>Adrienne Greene</td> </tr>
    <tr class='past'> <td class='date'>AUG 26</td>
        <td class='gm colcenter' colspan='2'>:)</td> </tr>
    <tr class='past'> <td class='date'>SEP 2</td>
        <td class='jc'>Dr. Rafal Pielak</td>
        <td class='gm'>Meredith Triplet (GRC practice)</td> </tr>
    <tr class='past'> <td class='date'>SEP 9</td>
        <td class='jc colcenter' colspan='2'>Group Retreat</td>
    <tr class='past'> <td class='date'>SEP 16</td>
        <td class='jc colcenter' colspan='2'>:)</td>
    <tr class='past'> <td class='date'>SEP 23</td>
        <td class='jc'>Kate Alfieri</td>
        <td class='gm'>Monatrice Lam (GRC practice)</td> </tr>
    <tr class='past'> <td class='date'>SEP 30</td>
        <td class='jc colcenter' colspan='2'>:)</td>
    <tr class='past'> <td class='date'>OCT 3 (Thu, Room 521)</td>
        <td class='jc'>Steven Alvarez</td>
        <td class='gm'>Dr. Wan-Chen Lin</td> </tr>
    <tr class='past'> <td class='date'>OCT 8 (Tue, Room 521)</td>
        <td class='jc'>Jenny Lin</td>
        <td class='gm'>Meimei Dong</td> </tr>
    <tr class=''> <td class='date'>OCT 14 (Mon)</td>
        <td class='jc'>Dr. Geoffrey O'Donoghue</td>
        <td class='gm'>Steven Alvarez</td> </tr>
    <tr class=''> <td class='date'>OCT 21</td>
        <td class='jc colcenter' colspan='2'>:)</td></tr>
    <tr class=''> <td class='date'>OCT 28</td>
        <td class='jc colcenter' colspan='2'>:)</td></tr>
    <tr class=''> <td class='date'>NOV 4 (Mon)</td>
        <td class='jc'>Hiro Kai</td>
        <td class='gm'>Nicole Fay</td> </tr>
    <tr class=''> <td class='date'>NOV 12 (Tue)</td>
        <td class='jc'>Adrienne Greene</td>
        <td class='gm'>Kate Alfieri</td> </tr>
    <tr class=''> <td class='date'>NOV 19 (Tue)</td>
        <td class='jc'>Meredith Triplet</td>
        <td class='gm'>Jamie Kulp</td> </tr>
    <tr class=''> <td class='date'>NOV 25 (Mon)</td>
        <td class='jc'>William Huang</td>
        <td class='gm'>Dr. Hsiung-Lin Tu</td> </tr>
    <tr class=''> <td class='date'>DEC 2 (Mon)</td>
        <td class='jc colcenter' colspan='2'>:)</td></tr>
    <tr class=''> <td class='date'>DEC 9 (Mon)</td>
        <td class='jc'>Dr. Michael Coyle</td>
        <td class='gm'>Dr. Geoff O'Donoghue</td> </tr>
    <tr class=''> <td class='date'>DEC 16 (Mon)</td>
        <td class='jc'>Meimei Dong</td>
        <td class='gm'>Hiro Kai</td> </tr>
    <tr class=''> <td class='date'>DEC 23 (Mon)</td>
        <td class='jc colcenter' colspan='2'>:)</td></tr>
    <tr class=''> <td class='date'>DEC 30 (Mon)</td>
        <td class='jc colcenter' colspan='2'>:)</td></tr>
</table>
<p>SUMMER 2013</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr class='past'> <td class='date'>MAY 27</td>
        <td class='gm colcenter' colspan='2'>:)</td> </tr>
    <tr class='past'> <td class='date'>JUNE 3 (12 pm)</td>
        <td class='jc'>Dr. Sam Lord</td>
        <td class='gm'>Jenny Lin</td> </tr>
    <tr class='past'> <td class='date'>JUNE 11 (Tue, Room 521)</td>
        <td class='jc'>Dr. Scott Hansen</td>
        <td class='gm'>Dr. Sune Christensen</td> </tr>
    <tr class='past'> <td class='date'>JUNE 18 (Tue, Room 521)</td>
        <td class='jc'>Dr. Wan-Chen Lin</td>
        <td class='gm'>Monatrice Lam</td> </tr>
    <tr class='past'> <td class='date'>JUNE 28 (Fri, 12pm, Room 421)</td>
        <td class='jc'>Organization meeting</td>
        <td class='gm'>Meredith Triplet</td> </tr>
    <tr class='past'> <td class='date'>JULY 1</td>
        <td class='gm colcenter' colspan='2'>:)</td> </tr>
    <tr class='past'> <td class='date'>JULY 9 (Tue, Room 521)</td>
        <td class='jc'>Dr. Hector Huang</td>
        <td class='gm'>Dr. Rafal Pielak</td> </tr>
    <tr class='past'> <td class='date'>JULY 19 (Fri, 5pm)</td>
        <td class='gm colcenter' colspan='2'>Hsiung-Lin Tu (thesis defense)</td> </tr>
    <tr class='past'> <td class='date'>JULY 22</td>
        <td class='gm colcenter' colspan='2'>Kevin Hartman (thesis defense)</td> </tr>
    <tr class='past'> <td class='date'>JULY 29</td>
        <td class='gm colcenter' colspan='2'>:)</td> </tr>
    <tr class='past'> <td class='date'>AUG 5</td>
        <td class='jc'>Adrienne Greene (conference recap)</td>
        <td class='gm'>Dr. Michael Coyle</td> </tr>
    <tr class='past'> <td class='date'>AUG 12</td>
        <td class='jc'>Matt Hepler</td>
        <td class='gm'>Dr. Scott Hansen</td> </tr>
</table>
<p>SPRING 2013</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeing</td>
    </tr>
    <tr>
        <td width="135">JAN 8 (Room 521)</td>
        <td width="275">:)</td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">JAN 15 (Room 521)</td>
        <td width="275">Kate Alfieri</td>
        <td width="241">Adrienne Greene</td>
    </tr>
    <tr>
        <td width="135">JAN 22 (Room 521)</td>
        <td width="275">Jenny Lin</td>
        <td width="241">Dr. Wan-Chen Lin</td>
    </tr>
    <tr>
        <td width="135">JAN 29 (Room 521)</td>
        <td width="275">Geoffrey O'Donoghue</td>
        <td width="241">Nicole Fay</td>
    </tr>
    <tr>
        <td width="135">FEB 4</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">FEB 11</td>
        <td width="275">BPS recap</td>
        <td width="241">Dr. Hector Huang</td>
    </tr>
    <tr>
        <td width="135">FEB 17</td>
        <td width="275">Hiroyuki Kai</td>
        <td width="241">Dr. Sam Lord</td>
    </tr>
    <tr>
        <td width="135">FEB 25</td>
        <td width="275">:)</td>
        <td width="241">Safety Meeting</td>
    </tr>
    <tr>
        <td width="135">MAR 4</td>
        <td width="275">William Huang</td>
        <td width="241">Jamie Kulp</td>
    </tr>
    <tr>
        <td width="135">MAR 11</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">MAR 19</td>
        <td width="275">Michael Coyle</td>
        <td width="241">Kate Alfieri</td>
    </tr>
    <tr>
        <td width="135">MAR 25</td>
        <td width="275">Nicole Fay</td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">APR 2 (Tue, Room 521)</td>
        <td width="275">Meimei Dong</td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr> <td class='date'>APR 8</td>
        <td class='jc'>Jamie Kulp</td>
        <td class='gm'>William Huang</td> </tr>
    <tr> <td class='date'>APR 15</td>
        <td class='jc'>:)</td>
        <td class='gm'>:)</td> </tr>
    <tr> <td class='date'>APR 22</td>
        <td class='jc'>Monatrice Lam</td>
        <td class='gm'>Matt Hepler</td> </tr>
    <tr> <td class='date'>APR 29</td>
        <td class='jc'>Dr. Sune Christensen</td>
        <td class='gm'>Hiroyuki Kai</td> </tr>
    <tr> <td class='date'>MAY 6</td>
        <td class='jc'>:)</td>
        <td class='gm'>:)</td> </tr>
    <tr> <td class='date'>MAY 16 (Thu. rm. 521, 3pm)</td>
        <td class='gm colcenter' colspan='2'>Michael Coyle (thesis defense)</td> </tr>
    <tr> <td class='date'>MAY 20</td>
        <td class='gm colcenter' colspan='2'>Geoffrey O'Donoghue (thesis defense)</td> </tr>
</table>    <p>FALL 2012</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeing</td>
    </tr>
    <tr>
        <td width="135">AUG 27</td>
        <td width="275">Jamie Kulp</td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr>
        <td width="135">SEP 3</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">SEP 11 (TUE, rm621)</td>
        <td width="275">Heather Jensen</td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">SEP 17</td>
        <td width="275"></td>
        <td width="241">Lab Retreat</td>
    </tr>
    <tr>
        <td width="135">SEP 24</td>
        <td width="275">Dr. Sune Christensen</td>
        <td width="241">Heather Jensen</td>
    </tr>
    <tr>
        <td width="135">OCT 1</td>
        <td width="275">Il-Hyung Lee</td>
        <td width="241">Rebecca Petit</td>
    </tr>
    <tr>
        <td width="135">OCT 8</td>
        <td width="275">Hsiung-Lin Tu</td>
        <td width="241">Jenny Lin</td>
    </tr>
    <tr>
        <td width="135">OCT 15</td>
        <td width="275">Dr. Aiwei Tian</td>
        <td width="241">Dr. Rafal Pielak</td>
    </tr>
    <tr>
        <td width="135">OCT 22</td>
        <td width="275">Dr. Wan-Chen Lin</td>
        <td width="241">William Huang</td>
    </tr>
    <tr>
        <td width="135">OCT 29</td>
        <td width="275">Michae Coyle</td>
        <td width="241">Matthew Hepler</td>
    </tr>
    <tr>
        <td width="135">NOV 7 (WED)</td>
        <td width="275">Dr. Samuel Lord</td>
        <td width="241">Christopher Rhodes</td>
    </tr>
    <tr>
        <td width="135">NOV 13 (TUE)</td>
        <td width="275">Adrienne Greene</td>
        <td width="241">Hiroyuki Kai</td>
    </tr>
    <tr>
        <td width="135">NOV 19</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">NOV 27 (TUE, rm621)</td>
        <td width="275">Matthew Helpler</td>
        <td width="241">Meimei Dong</td>
    </tr>
    <tr>
        <td width="135">DEC 4 (TUE, rm621)</td>
        <td width="275">Dr. Hector Huang</td>
        <td width="241">Dr. Aiwei Tian</td>
    </tr>
    <tr>
        <td width="135">DEC 11 (TUE, rm521)</td>
        <td width="275">Dr. Sune Christensen</td>
        <td width="241">Dr. Rafal Pielak</td>
    </tr>
    <tr>
        <td width="135">DEC 18 (TUE, rm521)</td>
        <td width="275">Kate Alfieri</td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
</table>
<p>SUMMER 2012</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeing</td>
    </tr>
    <tr>
        <td width="135">MAY 22 (TUE)</td>
        <td width="275">Dr. Samuel Lord</td>
        <td width="241">Meimei Dong</td>
    </tr>
    <tr>
        <td width="135">MAY 29 (TUE)</td>
        <td width="275">Dr. Hector Huang</td>
        <td width="241">Jenny Lin</td>
    </tr>
    <tr>
        <td width="135">JUN 5 (TUE)</td>
        <td width="275">Postdoc candidate talk</td>
        <td width="241">Nicole Fay</td>
    </tr>
    <tr>
        <td width="135">JUN 11</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">JUN 18</td>
        <td width="275">Dr. Rafal Pielak</td>
        <td width="241">Dr. Wan-Chen Lin</td>
    </tr>
    <tr>
        <td width="135">JUN 25</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">JUL 3 (TUE)</td>
        <td width="275">Dr. Adam Smith</td>
        <td width="241">Adrienne Greene</td>
    </tr>
    <tr>
        <td width="135">JUL 10 (TUE)</td>
        <td width="275">Meimei Dong</td>
        <td width="241">Jamie Kulp</td>
    </tr>
    <tr>
        <td width="135">Jul 17</td>
        <td width="275">Kate Alfieri</td>
        <td width="241">Dr. Hector Huang</td>
    </tr>
    <tr>
        <td width="135">JUL 24 (TUE)</td>
        <td width="275">Geoffrey O'Donoghue</td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">Jul 31 (TUE)</td>
        <td width="275"></td>
        <td width="241">Michael Coyle</td>
    </tr>
    <tr>
        <td width="135">Aug 6</td>
        <td width="275">Postdoc candidate talk</td>
        <td width="241">Dr. Samuel Lord</td>
    </tr>
    <tr>
        <td width="135">Aug 13</td>
        <td width="275">Hiroyuki Kai</td>
        <td width="241">Kate Alfieri</td>
    </tr>
    <tr>
        <td width="135">Aug 21 (TUE)</td>
        <td width="275">Christopher Rhodes</td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
</table>
<p>SPRING 2012</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeing</td>
    </tr>
    <tr>
        <td width="135">JAN 9</td>
        <td width="275">Heather Jensen</td>
        <td width="241">Dr. Yan Yu</td>
    </tr>
    <tr>
        <td width="135">JAN 16</td>
        <td width="275">Dr. Sune Christensen</td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">JAN 23</td>
        <td width="275">Postdoc candidate Talk</td>
        <td width="241">Kate Alfieri</td>
    </tr>
    <tr>
        <td width="135">JAN 30</td>
        <td width="275">Rebecca Petit</td>
        <td width="241">Michael Coyle</td>
    </tr>
    <tr>
        <td width="135">FEB 7 (TUE)</td>
        <td width="275">Dr. Aiwei Tian</td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">FEB 14 (TUE)</td>
        <td width="275">Hiroyuki Kai</td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr>
        <td width="135">FEB 21 (TUE)</td>
        <td width="275">Alex Smoligovets</td>
        <td width="241">Heather Jensen</td>
    </tr>
    <tr>
        <td width="135">FEB 27 </td>
        <td width="275"></td>
        <td width="241">No meeting, BPS week</td>
    </tr>
    <tr>
        <td width="135">MAR 5 (TUE)</td>
        <td width="275">BPS recap</td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
    <tr>
        <td width="135">MAR 12 </td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">MAR 19</td>
        <td width="275">Dr. Wan-Chen Lin</td>
        <td width="241">Dr. Adam Smith</td>
    </tr>
    <tr>
        <td width="135">MAR 26</td>
        <td width="275">William Huang</td>
        <td width="241">Rebecca Petit</td>
    </tr>
    <tr>
        <td width="135">APR 2</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">APR 10 (TUE,rm621)</td>
        <td width="275">Michael Coyle</td>
        <td width="241">Dr. Rafal Pielak</td>
    </tr>
    <tr>
        <td width="135">APR 17 (TUE)</td>
        <td width="275">Jenny Lin</td>
        <td width="241">William Huang</td>
    </tr>
    <tr>
        <td width="135">APR 24 (TUE)</td>
        <td width="275">Dr. Samuel Lord</td>
        <td width="241">Hiroyuki Kai</td>
    </tr>
    <tr>
        <td width="135">APR 30</td>
        <td width="275">Nicole Fay</td>
        <td width="241">Christopher Rhodes</td>
    </tr>
    <tr>
        <td width="135">MAY 8</td>
        <td width="275">Adrienne Greene</td>
        <td width="241">Dr. Sune Christensen</td>
    </tr>
    <tr>
        <td width="135">MAY 18 (FRI 0330)</td>
        <td width="275"></td>
        <td width="241">Dr. Aiwei Tian</td>
    </tr>
</table>
<p>FALL 2011</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135"></td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeing</td>
    </tr>
    <tr>
        <td width="135">AUG 30 (TUE)</td>
        <td width="275">Dr. Samuel Lord</td>
    </tr>
    <tr>
        <td width="135">SEP 19</td>
        <td wi width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr>
        <td width="135">SEP 5</td>
        <td width="275">Dr. Lars Iversen</td>
        <td width="241">Eulanca Liu</td>
    </tr>
    <tr>
        <td width="135">SEP 12</td>
        <td width="275">Nicole Fay</td>
        <td width="241">Heather Jensen</td>
    </tr>
    <tr>
        <td width="135">SEP 19</td>
        <td width="275">Jeena Lee</td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
    <tr>
        <td width="135">SEP 21-24</td>
        <td width="275"></td>
        <td width="241">Group Retreat</td>
    </tr>
    <tr>
        <td width="135">SEP 26</td>
        <td width="275">Adrienne Greene</td>
        <td width="241">Christopher Rhodes</td>
    </tr>
    <tr>
        <td width="135">OCT 3</td>
        <td width="275">Dr. Yan Yu</td>
        <td width="241">Hiroyuki Kai (GRC practice)</td>
    </tr>
    <tr>
        <td width="135">OCT 10</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">OCT 17</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">OCT 27 (THU)</td>
        <td width="275">Dr. Adam Smith</td>
        <td width="241">Kate Alfieri</td>
    </tr>
    <tr>
        <td width="135">OCT 31</td>
        <td width="275">Geoffrey O'Donoghue</td>
        <td width="241">Dr. Sune Christensen</td>
    </tr>
    <tr>
        <td width="135">NOV 7</td>
        <td width="275">Post-Doc Candidate talk</td>
        <td width="241">Dr. Aiwei Tian</td>
    </tr>
    <tr>
        <td width="135">NOV 14</td>
        <td width="275">Safety Training</td>
        <td width="241">Dr. Lars Iversen</td>
    </tr>
    <tr>
        <td width="135">NOV 21</td>
        <td width="275">Christopher Rhodes</td>
        <td width="241">Nicole Fay</td>
    </tr>
    <tr>
        <td width="135">NOV 28</td>
        <td width="275">Hsiung-Lin Tu</td>
        <td width="241">Adrienne Greene</td>
    </tr>
    <tr>
        <td width="135">DEC 5</td>
        <td width="275">Kate Alfieri</td>
        <td width="241">Dr. Wan-Chen Lin</td>
    </tr>
    <tr>
        <td width="135">DEC 13 (TUE)</td>
        <td width="275">ASCB meeting summary</td>
        <td width="241">Dr. Hector Huang</td>
    </tr>
    <tr>
        <td width="135">DEC 20 (TUE)</td>
        <td width="275">Il-Hyung Lee</td>
        <td width="241">Dr. Samuel Lord</td>
    </tr>
</table>
<p>SUMMER 2011</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135">&nbsp;</td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr>
        <td width="135">JUN 13</td>
        <td width="275"></td>
        <td width="241">Adrienne Greene</td>
    </tr>
    <tr>
        <td width="135">JUN 20</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">JUN 27</td>
        <td width="275"></td>
        <td width="241">Elizabeth Xu (Thesis Defense)</td>
    </tr>
    <tr>
        <td width="135">JUN 28 (TUE)</td>
        <td width="275"></td>
        <td width="241">Hector Huang (Thesis Defense)</td>
    </tr>
    <tr>
        <td width="135">JUL 5 (TUE)</td>
        <td width="275">Dr. Ni&ntilde;a Hartman</td>
        <td width="241">Dr. Ni&ntilde;a Hartman</td>
    </tr>
    <tr>
        <td width="135">JUL 11</td>
        <td width="275">Daniel Tran</td>
        <td width="241">Dr. Samuel Lord</td>
    </tr>
    <tr>
        <td width="135">JUL 18</td>
        <td width="275">Eulanca Liu</td>
        <td width="241">Dr. Adam Smith</td>
    </tr>
    <tr>
        <td width="135">JUL 25</td>
        <td width="275"></td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">AUG 2 (TUE)</td>
        <td width="275">Dr. Wan-Chen Lin</td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">AUG 9 (TUE)</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">AUG 15</td>
        <td width="275">Michael Coyle</td>
        <td width="241">Michael Coyle</td>
    </tr>
    <tr>
        <td width="135">AUG 22</td>
        <td width="275">Dr. Hung-Jen Wu</td>
        <td width="241">Dr. Yan Yu</td>
    </tr>
</table>
<p>SPRING 2011</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135">&nbsp;</td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr>
        <td width="135">JAN 10</td>
        <td width="275">Dr. Lars Iversen</td>
        <td width="241">Dr. Ni&ntilde;a Hartman </td>
    </tr>
    <tr>
        <td width="135">JAN 17</td>
        <td width="275">Nicole Fay</td>
        <td width="241">Elizabeth Xu</td>
    </tr>
    <tr>
        <td width="135">JAN 24</td>
        <td width="275">Dr. Adam Smith</td>
        <td width="241">Dr. Samuel Lord</td>
    </tr>
    <tr>
        <td width="135">JAN 31</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">FEB 8 (TUE)</td>
        <td width="275">Dr. Yan Yu</td>
        <td width="241">Dr. Adam Smith</td>
    </tr>
    <tr>
        <td width="135">FEB 15 (TUE)</td>
        <td width="275">Keystone Summary</td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">FEB 21</td>
        <td width="275"></td>
        <td width="241">Dr. Yan Yu</td>
    </tr>
    <tr>
        <td width="135">MAR 3 (THU)</td>
        <td width="275">Christopher Rhodes</td>
        <td width="241">Michael Coyle</td>
    </tr>
    <tr>
        <td width="135">MAR 8 (TUE)</td>
        <td width="275">Dr. Theo Lohm&uuml;ller</td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr>
        <td width="135">MAR 14</td>
        <td width="275">Rafal Pielak (Post-Doc candidate)</td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">MAR 22 (TUE)</td>
        <td width="275">BPS summary</td>
        <td width="241">Christopher Rhodes</td>
    </tr>
    <tr>
        <td width="135">Mar 29 (TUE)</td>
        <td width="275">Adrienne Greene</td>
        <td width="241">Heather Jensen</td>
    </tr>
    <tr>
        <td width="135">APR 4</td>
        <td width="275"></td>
        <td width="241">Dr. Bryan Jackson</td>
    </tr>
    <tr>
        <td width="135">APR 5 (TUE)</td>
        <td width="275">Hsiung-Lin Tu</td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
    <tr>
        <td width="135">APR 11</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">APR 18</td>
        <td width="275">Geoffrey O'Donoghue</td>
        <td width="241">Dr. Aiwei Tian</td>
    </tr>
    <tr>
        <td width="135">APR 26 (TUE)</td>
        <td width="275">Il-Hyung Lee</td>
        <td width="241">Hiroyuki Kai</td>
    </tr>
    <tr>
        <td width="135">MAY 2</td>
        <td width="275"></td>
        <td width="241">Sara Triffo (Thesis Defense)</td>
    </tr>
    <tr>
        <td width="135">MAY 10 (TUE)</td>
        <td width="275">Dr. Aiwei Tian</td>
        <td width="241">Dr. Lars Iversen</td>
    </tr>
    <tr>
        <td width="135">MAY 17 (TUE)</td>
        <td width="275">Hiroyuki Kai</td>
        <td width="241">Dr. Hung-Jen Wu</td>
    </tr>
    <tr>
        <td width="135">MAY 22 (SUN)</td>
        <td width="275">Hector Huang</td>
        <td width="241">Nicole Fay</td>
    </tr>
    <tr>
        <td width="135">MAY 31 (TUE)</td>
        <td width="275">Alex Smoligovets</td>
        <td width="241">Dr. Wan-Chen Lin</td>
    </tr>
</table>
<p>FALL 2010</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135">&nbsp;</td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr>
        <td width="135">AUG 23</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">AUG 30</td>
        <td width="275">Hector Huang</td>
        <td width="241">Sara Triffo </td>
    </tr>
    <tr>
        <td width="135">SEP 9 (THU)</td>
        <td width="275">Rebecca Petit </td>
        <td width="241">Hsiung-Lin Tu </td>
    </tr>
    <tr>
        <td width="135">SEP 13</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">SEP 20</td>
        <td width="275">Dr. Ni&ntilde;a Hartman, HHMI Summary </td>
        <td width="241">Alex Smoligovets </td>
    </tr>
    <tr>
        <td width="135">SEP 29 (WED)</td>
        <td width="275">Geoffrey O'Donoghue</td>
        <td width="241">Heather Jensen </td>
    </tr>
    <tr>
        <td width="135">OCT 4</td>
        <td width="275">Dr. Wan-Chen Lin </td>
        <td width="241">Dr. Lars Iversen </td>
    </tr>
    <tr>
        <td width="135">OCT 11</td>
        <td width="275">Sara Triffo </td>
        <td width="241">Il-Hyung Lee </td>
    </tr>
    <tr>
        <td width="135">OCT 18</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">OCT 25</td>
        <td width="275">Eulanca Liu </td>
        <td width="241">Hector Huang </td>
    </tr>
    <tr>
        <td width="135">OCT 27 (WED)</td>
        <td width="275">-</td>
        <td width="241">Guest Speaker: Dr. Tom Gadek</td>
    </tr>
    <tr>
        <td width="135">NOV 1</td>
        <td width="275">:)</td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">NOV 8</td>
        <td width="275">:) </td>
        <td width="241">:)</td>
    </tr>
    <tr>
        <td width="135">NOV 15</td>
        <td width="275">Michael Coyle </td>
        <td width="241">Dr. Hung-Jen Wu </td>
    </tr>
    <tr>
        <td width="135">NOV 22</td>
        <td width="275">Dr. Hung-Jen Wu </td>
        <td width="241">Dr. Wan-Chen Lin </td>
    </tr>
    <tr>
        <td width="135">NOV 29</td>
        <td width="275">Elizabeth Xu </td>
        <td width="241">Nicole Fay </td>
    </tr>
    <tr>
        <td width="135">7 DEC (TUE)</td>
        <td width="275">-</td>
        <td width="241">Adrienne Greene</td>
    </tr>
    <tr>
        <td width="135">14 DEC (TUE)</td>
        <td width="275">Dr. Samuel Lord</td>
        <td width="241">Dr. Theo Lohm&uuml;ller</td>

    </tr>
</table>
<p>SUMMER 2010</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135">&nbsp;</td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr>
        <td width="135">MAY 31</td>
        <td width="275">-</td>
        <td width="241">Ni&ntilde;a Hartman - Thesis defense</td>
    </tr>
    <tr>
        <td width="135">JUN 7</td>
        <td width="275">-</td>
        <td width="241">-</td>
    </tr>
    <tr>
        <td width="135">JUN 15 (TUE)</td>
        <td width="275">Safety Talk</td>
        <td width="241">Rebecca Petit</td>
    </tr>
    <tr>
        <td width="135">JUN 22 (TUE)</td>
        <td width="275">Kevin Hartman</td>
        <td width="241">Elizabeth Xu</td>
    </tr>
    <tr>
        <td width="135">JUN 29 (TUE)</td>
        <td width="275">-</td>
        <td width="241">-</td>
    </tr>
    <tr>
        <td width="135">JUL 7 (WED)</td>
        <td width="275">Dr. Yan Yu</td>
        <td width="241">Dr. Adam Smith</td>
    </tr>
    <tr>
        <td width="135">JUL 12</td>
        <td width="275">Christopher Rhodes </td>
        <td width="241">Dr. Theo Lohm??ler </td>
    </tr>
    <tr>
        <td width="135">JUL 19</td>
        <td width="275">Hsiung-Lin Tu </td>
        <td width="241">Dr. Yan Yu</td>
    </tr>
    <tr>
        <td width="135">JUL 27 (TUE)</td>
        <td width="275">Il-Hyung Lee </td>
        <td width="241">Kevin Hartman </td>
    </tr>
    <tr>
        <td width="135">AUG 3 (TUE)</td>
        <td width="275">Heather Jensen </td>
        <td width="241">Christopher Rhodes </td>
    </tr>
    <tr>
        <td width="135">AUG 10 (TUE)</td>
        <td width="275">Discussion on Lab business </td>
        <td width="241">Michael Coyle </td>
    </tr>
    <tr>
        <td width="135">AUG 19 (THU)</td>
        <td width="275">Alex Smoligovets</td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
</table>
<p>SPRING 2010</p>
<table width="711" bordercolordark="black" bordercolorlight="black" cellspacing="0" border="1">
    <tr>
        <td width="135">&nbsp;</td>
        <td width="275">Journal Club</td>
        <td width="241">Group Meeting</td>
    </tr>
    <tr>
        <td width="135">JAN 11</td>
        <td width="275">-</td>
        <td width="241">-</td>
    </tr>
    <tr>
        <td width="135">JAN 19 (TUE)</td>
        <td width="275">Dr. Wan-Chen Lin</td>
        <td width="241">Dr. Adam Smith</td>
    </tr>
    <tr>
        <td width="135">JAN 24 (SUN)</td>
        <td width="275">
            <p>Alex Smoligovets</p>
        </td>
        <td width="241">Kevin Hartman</td>
    </tr>
    <tr>
        <td width="135">FEB 2 (TUE)</td>
        <td width="275">Dr. Lars Iversen</td>
        <td width="241">
            <p>Dr. Yan Yu</p>
        </td>
    </tr>
    <tr>
        <td width="135">FEB 9 (TUE)</td>
        <td width="275">Pradeep Nair</td>
        <td width="241">Christopher Rhodes</td>
    </tr>
    <tr>
        <td width="135">FEB 19 (FRI)</td>
        <td width="275">Dr. Hung-Jen Wu</td>
        <td width="241">Ni&ntilde;a Hartman</td>
    </tr>
    <tr>
        <td width="135">FEB 24 (WED)</td>
        <td width="275"> - </td>
        <td width="241">Sara Triffo</td>
    </tr>
    <tr>
        <td width="135">FEB 25 (THU)</td>
        <td width="275">
            <p>Postdoc Interview</p>
        </td>
        <td width="241">Geoffrey O'Donoghue</td>
    </tr>
    <tr>
        <td width="135">MAR 1 (MON)</td>
        <td width="275">
            <p>BPS Summary </p>
        </td>
        <td width="241">Heather Jensen</td>
    </tr>
    <tr>
        <td width="135">MAR 9 (TUE)</td>
        <td width="275">Keystone Summary </td>
        <td width="241">
            <p>Michael Coyle - GRS practice</p>
        </td>
    </tr>
    <tr>
        <td width="135">MAR 16 (TUE)</td>
        <td width="275">Ni&ntilde;a Hartman</td>
        <td width="241">
            <p>Pradeep Nair </p>
        </td>
    </tr>
    <tr>
        <td width="135">MAR 23 (TUE)</td>
        <td width="275">
            <p>Michael Coyle</p>
        </td>
        <td width="241">Hsiung-Lin Tu</td>
    </tr>
    <tr>
        <td width="135">MAR 30 (TUE)</td>
        <td width="275">ACS Summary</td>
        <td width="241">Alex Smoligovets</td>
    </tr>
    <tr>
        <td width="135">APR 5</td>
        <td width="275">- </td>
        <td width="241">
            <p>-</p>
        </td>
    </tr>
    <tr>
        <td width="135">APR 12</td>
        <td width="275">
            <p>Guest Speaker</p>
        </td>
        <td width="241">Dr. Lars Iversen</td>
    </tr>
    <tr>
        <td width="135">APR 19</td>
        <td width="275">
            <p>Dr. Boryana Manz</p>
        </td>
        <td width="241">Il-Hyung Lee</td>
    </tr>
    <tr>
        <td width="135">APR 27 (TUE)</td>
        <td width="275">
            <p>Elizabeth Xu</p>
        </td>
        <td width="241">Hector Huang</td>
    </tr>
    <tr>
        <td width="135">MAY 4 (TUE)</td>
        <td width="275">
            <p>SMF workshop summary</p>
        </td>
        <td width="241">Dr. Hung-Jen Wu</td>
    </tr>
    <tr>
        <td width="135">MAY 11 (TUE)</td>
        <td width="275">
            <p>MRS Summary</p>
        </td>
        <td width="241">Dr. Wan-Chen Lin</td>
    </tr>
    <tr>
        <td width="135">MAY 17</td>
        <td width="275">
            <p>-</p>
        </td>
        <td width="241">Pradeep Nair - Thesis defense</td>
    </tr>
    <tr>
        <td width="135">MAY 24</td>
        <td width="275">
            <p>Dr. Adam Smith</p>
        </td>
        <td width="241">Nicole Fay</td>
    </tr>
</table>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><img style="margin-left:150px;" src="img/Groves%20Group%20Meeting%20Time.jpg" width="497" height="164" border="0" align="middle"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
