<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="Description" content="Groves Lab at University of California, Berkeley.">
    <title>
        {{page.title}}
    </title>
    <link rel='stylesheet' type='text/css' href='default.css'>
    <style type="text/css">

        #support {
            border-collapse:collapse;
            border:0px;
            width: 700px;
        }
        #support td {
            width: 392px;
            padding: 5px;
        }
        img {
            border: 0px;
        }
        p {
            margin-bottom: 30px;
        }

        h3 {

        }

    </style>

    <!-- Google Analytics code -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37673578-1']);
        _gaq.push(['_setDomainName', 'cchem.berkeley.edu']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- End of Google Analytics code -->

</head>

<body>
<table align="center" border="0" width="920" height="100">
    <tbody><tr>
        <td width="857" height="96">
            <p>
                <a href="./index.html">
                    <img align="middle" src="./img/Main%20Title.jpg" alt='Main title' width="880" height="88" border="0">
                </a>
            </p>
        </td>
        <td width="53" height="96">
            <p><a href="http://www.berkeley.edu/"><img src="./img/ucseal_540_874.jpg" alt='UC seal' width="87" height="90" border="0"></a></p>
        </td>
    </tr>
    </tbody></table>
<hr>
<table border="1" bgcolor="#333" align="center" cellspacing="0" bordercolordark="black" bordercolorlight="black">
    <tbody>
    <tr bordercolordark="black" bordercolorlight="black">
        <td id='nav'>
            <ul>
                <li>
                    <a href="./science.html">
                        <div class="button" id="button_science"></div>
                    </a>
                </li>
                <li>
                    <a href="./scientists.html">
                        <div class="button" id="button_scientists"></div>
                    </a>
                </li>
                <li>
                    <a href="./publication.html">
                        <div class="button" id="button_publication"></div>
                    </a>
                </li>
                <li>
                    <a href="./seminars.html">
                        <div class="button" id="button_seminars"></div>
                    </a>
                </li>
                <li>
                    <a href="./news.html">
                        <div class="button" id="button_news"></div>
                    </a>
                </li>
                <li>
                    <a href="./links.html">
                        <div class="button" id="button_links"></div>
                    </a>
                </li>
            </ul>
        </td>
        <td id='content' rowspan="7" bordercolordark="black" bordercolorlight="black" valign="top">
              {{> body}}
        </td>
    </tr>
    </tbody>
</table>
<hr>
<p align="center">
    <a href="http://www.berkeley.edu/">University of California</a>,
    <a href="http://chem.berkeley.edu/">Department of Chemistry</a>, 424 Stanley
    Hall, MC3220, Berkeley, CA 94720 / Tel. (510) 666-3604 /&nbsp;Fax (510) 666-3603
</p>

</body>

</html>
